{
    "dbConfig": {
      "host": "localhost",
      "user": 5984,
      "password": "customers",
      "database": ""
    },
    "s3Config": {
        "accessKeyId": "key",
        "secretAccessKey": "secret",
        "bucketName": "bucket"
    },
    "environment": "development|production|staging"
    "backendApiCacheUrl": "url",
    "backendApiCacheToken": "token"
    "frontendApiPOSTNodesUrl": "url",
    "deadManSwitchUrl": "url",
    "ipstackAccessKey": "key"
}